/* 笔记列表 */
.yinxList {
    float: left;
    position: relative;
    width: 356px;
    height: 100%;
    border-right: solid 1px #ececec;
    box-sizing: border-box;
    cursor: pointer;
    /*display: none;  搜索笔记的时候,默认为隐藏*/
}
.yinxList .tagNames {
  width: 355px;
  padding: 24px 20px 24px 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #ffffff;
  color: #878787;
  font-size: 21px;
  text-overflow:ellipsis;
  letter-spacing:0.5px;
  overflow:hidden;
  padding-right: 6px;
}
/*默认首页显示*/
.cuthide {
    padding: 27px 24px;
    box-sizing: border-box;
    /*display: none;*/
}
.yinxList .notTitle {
    font-size: 21px;
    color: #878787;
    vertical-align: top;
    float: left;
    letter-spacing: 0.5px;
}
.yinxList .yinxcut {
    float: right;
    width: 91px;
    height: 29px;
    border-radius: 4px;
    background: #2dbe60;
    color: #fff;
    text-align: center;
    line-height: 29px;
    font-weight: normal;
    border: 0;
}
.yinxList .yinxcut a {
  color: #ffffff;
}
.noteNumbers {
    margin-top: 21px;
    padding: 0 24px;
    padding-bottom: 10px;
    position: relative;
    font-size: 13px;
    color: #ababab;
    position: relative;
    box-sizing: border-box
}
.yinxnum {
    float: left;
}
.select {
   float: right;
   padding-right: 12px;
   background: url('../images/xiabiao.png') no-repeat right 5px;
   box-sizing: border-box;
   position: relative;
}

/*进入笔记本的时候 显示的笔记本名称*/
.noteNames {
    /*width: 350px;*/
    height: 150px;
    background: #393d41;
}
.noteNames .noteinfoPic {
    position: absolute;
    right: 12px;
    top: 12px;
}
.noteNames .title {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-family: caecilia, times, serif;
    text-align: center;
    padding-top: 48px;
    box-sizing: border-box;
}


/* 选项列表 */
.selList {
    width: 205px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.04), -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
    position: absolute;
    right: -138px;
    top: 24px;
    z-index: 5200;
    background: #ffffff;
}
.sortingWay {
    font-size: 11px;
    color: #ababab;
    margin: 19px 0 12px 20px;
}
.sortlist {
    box-sizing: border-box;
}
.sortlist li{
    padding: 9px 54px 10px 20px;
    color: #606060;
    /* background: url('../images/duigou.png') no-repeat 162px 11px; */
}
.MenuDivider {
    border-top: 1px solid #ececec;
    margin: 15px 15px 23px;
}
.viewsel legend {
    margin: 0 0 12px 20px;
    font-size: 11px;
    color: #ababab;
}
.viewsel .s-pit {
    color: #606060;
    padding: 8px 54px 10px 20px;
    background: url('../images/box_checked_green_24x24.png') no-repeat 162px 4px;
}
.viewsel .n-pit {
  color: #606060;
  padding: 8px 54px 10px 20px;
  background: url("../../assets/images/checkebox1.png") no-repeat 162px 4px;
}

/* 笔记本列表区域 */
.NodesTwoList {
    overflow-x: hidden;
    overflow-y: hidden;
}
.nodescroll {
    overflow: auto;
    border-top: solid 1px #ccc;
    vertical-align:baseline;
    overflow-y: scroll;
}

/* 主题内容----------------------------------- */
.nodescroll .n-conts {
    padding: 12px 26px;
    height: 120px;
    /*overflow-y: hidden;*/
    border: solid 2px transparent;
    box-sizing: border-box;
    position: relative;
    line-height: 17px;
    transition: 0.1s;
}
.nodescroll .n-conts.sel {
  border-color: rgb(217,217,217);
  box-sizing: border-box;
}
.nodescroll .n-conts:hover {
    background: #40bc6c;
}
.n-conts:hover .n-title {
   color: #fffdf1;
}
.n-conts:hover .n-wrap ,.n-conts:hover .n-times {
  color: #ffffff;
}

.nodescroll .n-title {
    font-size: 16px;
    color: #000;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 60%;
}
.nodescroll .n-times {
    font-size: 13px;
    color: #878787;
    font-weight: 400;
    padding: 4px 0;
}
.nodescroll .n-wrap {
    font-size: 12px;
    color: #878787;
    font-family: gotham, helvetica, arial, sans-serif;
    padding-right: 6px;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    overflow-wrap:break-word
}

/* 鼠标移入笔记列表显示出来 */
.nodescroll .n-fnc {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 51;
    display: block;
}
.n-fnc .n-shake {
  background: url("../images/cont_fenxiang1.png") no-repeat;
}
.n-fnc .n-shake:hover {
  background: url("../images/shubiaoyirufenxiang.png") no-repeat;
}
.nodescroll .n-fnc .cont-icon {
    float: left;
    margin: 6px 6px 0 0;
    width: 24px;
    height: 24px;
}
.nodescroll .n-fnc .remins {
   background: url("../images/tixing24x24.png") no-repeat;
   position: relative;
}
.nodescroll .n-fnc .remins:hover {
   background: url("../images/reminder_solid_white_24x24.png") no-repeat;
}
.nodescroll .n-fnc .remins.active {
  background: url("../images/reminder_solid_white_24x24.png") no-repeat;
}

/*未找到搜索的笔记提示内容*/
.nodescroll .notFound {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    font-family: caecilia, times, serif;
    word-wrap:break-word;
    font-size: 16px;
    font-weight: 400;
}
.nodescroll .notFound .count{
    box-sizing: border-box;
    padding: 0 45px;
    position: static;
    text-align: center;
    margin-top: 140px;
}
.nodescroll .notFound .count img {
    width: 50px;
    height: 50px;
}
.nodescroll .notFound .tip {
    margin-top: 17px;
    color: #ababab;
    line-height: 26px;
}
